name: Lint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
        if: always()
        with:
          options: "--check --verbose"
          src: "./src"
          # matches req file
          version: "23.7.0"
      - uses: isort/isort-action@v1
        if: always()
        with:
          requirements-files: "src/requirements.txt"
          